.instructions_div {
	margin-left: 25%; 
	padding-top: 70px; 
    width: 50%;
	z-index: -1;

}
.instructions_header {
	text-align: center; 
	font-size: 32px; 
	line-height: 16px; 
	margin-bottom: 29px;
}
.info{
	height: 100%;
    width: 50%;
    margin-left: 25%;
	z-index: -1;
	padding-bottom: 100px
}

.example_img {
	width: 50%;
	display: inline-block;
}
.steps {
	width: 40%;
	padding-left: 9%;
	list-style-position:inside;
	display: inline-block;
	vertical-align: top;
}
.working_button {
	margin-right: 50px;
	float: right;
	background-color: #111;
	color: white;
	border: none;
	padding: 15px 25px;
}
.div_buttons{
	margin-top: 50px;
}
.paragh{
	font-size: 10px;
}
