
body { font-family:'verdana'; }

h1 { 
	font-size:16px;
	color:#333;
}

#media-player {
	float:left;
	padding:1em 1em .5em;
	background-color:#E5E9F2;
}

video {
	border:0px solid #333;
	background:#000;
}

img {
}
.play {

	text-indent:-9999px;
	width:30px;
	height:30px;
	border:none;
	cursor:pointer;
	margin-bottom: -2.5px;}
}
.pause {
	text-indent:-9999px;
	width:30px;
	height:30px;
	border:none;
	cursor:pointer;
	margin-bottom: -2.5px;}
.volume-plus {
	text-indent:-9999px;
	width:30px;
	height:30px;
	border:none;
	cursor:pointer;
	margin-bottom: -2.5px;}
.volume-minus {
	text-indent:-9999px;
	width:30px;
	height:30px;
	border:none;
	cursor:pointer;
	margin-bottom: -2.5px;}

progress {
	color:#fff;
	font-size:12px;
	width:100%;
	height:16px;
	border:none;
	left: 0;
	background:#434343;
	position: absolute;
}
progress::-moz-progress-bar { background:#434343; }
progress::-webkit-progress-value { background: #434343; }

#progressed_bar {
	width:100%;
	height:16px;
	border:none;
	background:#888;
}




