.side {
    height: 100%;
    width: 420px;
    background-color: #f3f3f3;
    position: fixed!important;
    overflow: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.middle {
    height: 100%;
    width: calc(100% - 840px);
    margin-left: 420px;
    background-color: #900000;
    position: fixed!important;
    overflow: auto;
    z-index: -1;
}}

.event{
    height: 150px;
    width: 90%;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 20px;
    background-color: #f3f3f3;
    z-index: 1;
    border-radius: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.noscroll::-webkit-scrollbar {
  display: none;
}

table.history td {
    padding: 8px;
    text-align: center;
    vertical-align: center;
}

table.leaderboard td {
    padding: 8px;
}

table.leaderboard td:first-child {
    width: 52px;
    text-align: right;
}

table.leaderboard td:nth-child(2) {
    width: 180px;
    padding-left: 16px;
}
