.type_div {
	width: 50%;
	margin-left: 25%;
	padding-top: 70px; 
	position: absolute;
	z-index: -1;
	margin-bottom: 100px;
}
.button {
	background-color: #111;
	color: white;
	border: none;
	padding: 15px 25px;
}
.header_name {
	padding-top: 70px;
	margin: auto; 
	text-align: center;
}
.video_div {
	background-color: #E5E9F2;
	text-align: center;
	margin: auto;
	height: 100%;
}
.video_style {
	position: relative; 
	width: 75%;
}
.sub_text {
	bottom: 75px;
	width: 75%;
	color: white;
	margin: auto;
	font-size: 15px;
	text-align: center;
	position: relative;
}
.slider {
	width: 75%;
	padding-left: 15%;
	padding-right: 35%;
	text-align: center;
	margin: auto;
}

.slider_image {
	width: 50px;
	height: 50px;
}

.sub_text_input {
	width: 60%;
	height: 50px
}