.type_div {
	width: 50%;
	margin-left: 25%;
	padding-top: 70px; 
	z-index: -1;
	margin-bottom: 100px;
}
.button {
	background-color: #111;
	color: white;
	border: none;
	padding: 15px 25px;
}
.header_name {
	padding-top: 70px;
	margin: auto; 
	text-align: center;
}
.video_div {
	background-color: #E5E9F2;
	text-align: center;
	margin: auto;
	height: 100%;
}
.video_sub {
	position: relative;
}
.video_player {
	position: absolute;
}
.video_style {
	position: relative; 
	width: 75%;
}
.sub_text {
	bottom: 30px;
	width: 75%;
	color: white;
	margin-left: 12.5%;
	font-size: 15px;
	text-align: center;
	position: absolute;
}
.video_controls{
	width: 75%;
	height: 100px;
	margin: auto;
}
.slider {
	width: 75%;
	text-align: center;
	margin: auto;
}
.fix_slider {
	width: 75%;
	height: 20px;

	margin-left: 12.5%;
	text-align: initial;
	position: relative;
}
.slider_image {
	width: 20px;
	height: 20px;
}
.fix_slider_image{
	width: 20px;
	height: 20px;
	position: absolute; 
	top: 0; 
	left: 0;
	visibility: hidden;

}

.sub_text_input {
	width: 60%;
	height: 50px
}